<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.garena.tapme" >

    <uses-feature android:name="android.hardware.type.watch" />

    <application
        android:name="com.garena.tapme.application.WearApplication"
        android:allowBackup="true"
        android:icon="@drawable/tapme_icon"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.DeviceDefault" >

        <activity
            android:name=".activity.HomeWearActivity"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.DeviceDefault.Light"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.ConfirmUserActionActivity"
            android:theme="@android:style/Theme.DeviceDefault.Light"
            android:launchMode="singleTop"
            />

        <service android:name=".service.CheckStepService">
            <intent-filter>
                <action android:name="com.garena.tapme.action.tracking"/>
            </intent-filter>
        </service>

        <service android:name=".service.DataLayerService">
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.BIND_LISTENER" />
            </intent-filter>
        </service>

    </application>

</manifest>
